@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Nunito+Sans:wght@200;300;400;500;600;700;800&display=swap');

:root {
     --accent: #EA5959;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--accent);
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 32px;
    font-size: 18px;
    font-weight: 300;
}

.todo {
    padding: 32px;
    background-color: #fff;
    width: 80vw;
    border-radius: 16px;
}


.todo__new {
    display: flex;
    padding: 16px 0 32px;
    --size: 50px;
}
.todo__new input {
   margin-right: 16px;
   font-size: 18px;
   font-weight: 300;
   padding: 10px;
   height: var(--size);
   border: 1px solid grey;
   border-radius: 5px;
   flex-grow: 1;
}
.todo__add {
    cursor: pointer;
    text-align: center;
    line-height: calc(var(--size) * 0.95);
    height: var(--size);
    width: var(--size);
    border-radius: var(--size);
    background: var(--accent);
    color: white;
    font-size: 32px;
    font-weight: 200;
}

.todo__list > *:not(:last-child) {
    margin-bottom: 8px;
}
.todo__task {
    cursor: default;
    display: flex;
    align-items: center;
    --size: 36px;
    min-height: var(--size);
}

.todo__task:hover .todo__task-del {
    display: block;
}
.todo__checkbox {
    margin-right: 16px;
}
.todo__checkbox input {
    display: none;
}
.todo__checkbox input:checked + div {
    background-color: var(--accent);

}
.todo__checkbox input:checked + div::after {
    display: block;
}
.todo__checkbox div {
    cursor: pointer;
    --size: 28px;
    width: var(--size);
    height: var(--size);
    border: 1px solid var(--accent);
    border-radius: 4px;
    position: relative;
    color: white;
}
.todo__checkbox div::after {
    content: '\2713';
    text-align: center;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}
.todo__task-text {
    font-size: 20px;
}
.todo__task-del {
    display: none;
    margin-left: auto;
    margin-right: 0;
    cursor: pointer;
    text-align: center;
    line-height: calc(var(--size) * 0.88);
    height: var(--size);
    width: var(--size);
    border-radius: var(--size);
    background: var(--accent);
    color: white;
    font-size: 32px;
    font-weight: 200;
}

